@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Licorice&display=swap");

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--main-bg-color);
  color: #fff;
  height: 122px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 312.43px;
  height: 77.43px;
  margin-left: 30.23px;
  margin-top: 22px;
  margin-bottom: 31.41px;
}

.title_text {
  padding-top: 25px;
  color: black;
  width: 238.29px;
  font-size: 60px;
  font-weight: 400;
  font-family: var(--font-getFlowers);
  color: #333333;
}

.link {
  color: rgb(51, 51, 51);
  text-decoration: none;
  margin: 0 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: none;

  &:hover {
    color: rgb(255, 140, 242);
    text-shadow: 1px 1px 6px;
    transition: 0.3s;
    cursor: pointer;
  }
}

.logo_img {
  width: 57.11px;
  height: 69.99px;
}
.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 10px;
  outline: none;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  font-family: "Montserrat", sans-serif;
}
.searchDiv {
  width: 225.6px;
  height: 34.49px;
  display: flex;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.basket {
  margin-left: 15px;
  cursor: pointer;
  width: 35.15px;
  height: 33px;
}
