@import "../../styles/_variables.scss";
@import "../../styles/breakpoints.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
}

.logo_header {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 6.25rem;
  height: 5.25rem;
}

.group_links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5rem;
  gap: 2rem;

  .link {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    color: $color_primary;
    text-decoration: none;
    font-family: $font_Montserrat;
    font-size: 1.6rem;
    font-weight: 500;
    background: none;
    border: none;

    &:hover {
      color: #e86795;
      text-shadow: 1px 1px 6px;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.basket {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  &:hover {
    cursor: pointer;
  }
}

.auth {
  width: 2rem;
  height: 2rem;
}

input {
  height: 2.1rem;
  width: 14rem;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 0.5rem;
  background: none;
  font-family: $font_Montserrat;
  font-size: 1.3rem;
  &::placeholder {
    color: black;
    font-weight: 500;
  }
}
