@import "../../styles/_variables.scss";
@import "../../styles/breakpoints.scss";
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  z-index: 22;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid black;
  border-right: black;

  .logo_header {
    margin-top: 15px;
    margin-left: 40px;
    width: 105px;
    height: 82px;
  }
}

.group_links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  gap: 10px;

  .link {
    color: $color_primary;
    text-decoration: none;
    margin: 0 15px;
    font-family: $font_Montserrat;
    font-size: 25px;
    font-weight: 500;
    background: none;
    border: none;

    &:hover {
      color: #e86795;
      text-shadow: 1px 1px 6px;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.basket {
  margin-left: 10px;
  cursor: pointer;
  width: 40px;
  height: 35px;
}

input {
  height: 20px;
  width: 230px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 7px;
  background: none;
  margin-top: 5px;
  margin-left: 20px;
  font-family: $font_Montserrat;
  font-size: 20px;
  &::placeholder {
    color: black;
    font-weight: 500;
  }
}

@media (min-width: $breackpoint_xxl) {
  .logo_header {
    margin-top: 10px;
    margin-left: 30px;
    width: 68px;
    height: 53px;
  }
}
