@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Licorice&display=swap");

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--main-bg-color);
  color: #fff;
  height: 122px;

  /* z-index: 99;
  left: 0;
  right: 0; */
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 350.43px;
  height: 77.43px;
  margin-left: 30.23px;
  margin-top: 22px;
  margin-bottom: 31.41px;
}

.title_text {
  padding-top: 25px;
  color: black;
  width: 238.29px;
  font-size: 60px;
  font-weight: 400;
  font-family: var(--font-getFlowers);
  color: #333333;
}

.link {
  color: rgb(51, 51, 51);
  text-decoration: none;
  margin: 0 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: none;

  &:hover {
    color: rgb(255, 140, 242);
    text-shadow: 1px 1px 6px;
    transition: 0.3s;
    cursor: pointer;
  }
}

.logo_img {
  width: 72px;
  height: 65px;
}
.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  height: 60px;
}
.box {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

input {
  flex: 1;
  height: 20px;
  /* padding: 5px; */
  border: 1px solid black;
  border-radius: 6px;
  padding: 7px;
  background: none;
  font-family: "Montserrat", sans-serif;
  &:focus {
    outline: none;
  }
}

.basket {
  margin-left: 20px;
  cursor: pointer;
  width: 35.15px;
  height: 33px;
}
