.card {
  display: flex;
  background-color: none;
  flex-direction: column;
  align-items: center;
  width: 29rem;
  border-radius: 10px;
}

.slick-prev:before {
  content: "<";
  color: red;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: red;
  font-size: 30px;
}

.img_card_slider {
  width: 29rem;
  height: 27rem;
}

.title_cards {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.slider {
  width: 75%;
  height: 35rem;
  margin-bottom: 2rem;
}

.cards_container {
  display: flex;
  align-items: center;
  height: 40em;
  flex-direction: column;
  justify-content: center;
  background: url("../../img/cards_bg.svg");
  background-size: 101.5%;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  position: relative;
  z-index: 10;
}

// .cards {
// display: flex;
//   // flex-direction: row;
//   // width: auto;
// }
