.container_map {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../img/bg_maps.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.GoogleMap {
  width: 80%;
  height: 53rem;
  margin-bottom: 2.8rem;
  border-radius: 7.8rem;
}
