.container_map {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../img/bg_maps.svg");

  @media screen and (max-width: 768px) {
    
    height: auto;
  }
}

.GoogleMap {
  width: 1500px;
  height: 850px;
  margin-top: 45px;
  margin-bottom: 45px;
  border-radius: 125px;
}
