.container_map {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../img/bg_maps.svg");
}

.GoogleMap {
  width: 1568px;
  height: 850px;
  margin-top: 45px;
  margin-bottom: 45px;
  border-radius: 125px;
}

.Contacts {
  margin-left: 50px;
}
