// IMPORTED FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

// FONTS
$font_Montserrat: "Montserrat", sans-serif;
$font_Inter: "Inter", sans-serif;
$font-Comfortaa: "Comfortaa", sans-serif;

//COLOR
$dark_gray: #333333;
$light_dark: #666666;
$white_color: #ffffff;

// COLORS ELEMENTS
$color_primary: $dark_gray;
$color_secondary: $light_dark;
