@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.title_contact {
  font-family: Inter;
  font-size: 70px;
  font-weight: 500;
  text-align: left;
  padding-left: 85px;
  padding-top: 30px;
  color: #333333;
}

.text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-left: 30px;
  color: #666666;
}
.contact {
  display: flex;
  margin-left: 61px;
  margin-bottom: 40px;
}

.mark_location {
  width: 43px;
  height: 62px;
}
.main_container {
  position: absolute;
  margin-left: 100px;
  left: 150px;
  border-radius: 20px;
  background-color: #fce6fb;
  width: 550px;
  height: 530px;
}

.pipiska {
  width: 50px;
  height: 50px;
}
