@import "../../styles/variables";
.main_container {
  position: absolute;
  margin-left: 6.25rem;
  margin-bottom: 1.5rem;
  left: 9.3rem;
  border-radius: 1.25rem;
  background: #ffffffd2;
  width: 35.6rem;
  height: 35.5rem;
  border: 2px solid rgba(209, 209, 209, 0.61);
  backdrop-filter: blur(10px);
}

.title_contact {
  font-family: $font_Montserrat;
  font-size: 4.4rem;
  font-weight: 500;
  text-align: left;
  padding-left: 5rem;
  padding-top: 1.9rem;
  color: $color_primary;
  margin-top: 3.1rem;
  margin-bottom: 4.4rem;
}

.text {
  font-family: $font_Montserrat;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
  margin-left: 1.9rem;
  color: $color_secondary;
}
.contact {
  display: flex;
  align-items: center;
  margin-left: 3.8rem;
  margin-bottom: 2.5rem;
}

.mark_location {
  width: 2.7rem;
  height: 3.1rem;
}

.img {
  width: 2.7rem;
  height: 2.7rem;
}
