@import "../../styles/variables";
.delivery_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("./images/bg_delivery.svg");
  background-size: contain;
  height: 1080px;
  // width: 100px;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  gap: 100px;
}
.title_delivery {
  font-family: $font_Montserrat;
  font-size: 4rem;
  font-weight: 450;
}

.cards_info {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  height: 390px;
  justify-content: space-around;
  gap: 200px;
  margin-bottom: 60px;
}

.card_delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 598px;
  height: 390px;
  line-height: 35px;
}

.card_pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 563px;
  height: 390px;
  line-height: 35px;
}

.img {
  width: 282px;
  height: 273px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 1.9rem;
  font-family: var(--font-globalFont);
  font-weight: 500;
}

.text_info {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: $font_Montserrat;
  font-size: 1.4rem;
}

.pay_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .select {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .select_text {
      font-size: 30px;
    }
  }
}

.payments {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 40px;
}
