@import "../../styles/variables";

.delivery_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("./images/bg_delivery.svg");
  background-size: contain;
  height: 1080px;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  gap: 100px;
  padding-bottom: 200px;
}

.img {
  width: 282px;
  height: 273px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 1.9rem;
  font-size: $font_Montserrat;
  font-weight: 500;
  color: $color_primary;
}

// Доставка
.title_delivery {
  font-family: $font_Montserrat;
  font-size: 4rem;
  font-weight: 450;
  color: $color_primary;
}

.cards_info {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  height: 390px;
  justify-content: space-around;
  gap: 200px;
  margin-bottom: 60px;
}

.card_delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 598px;
  height: 390px;
  line-height: 35px;
}
// Оплата
.card_pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 563px;
  height: 390px;
  line-height: 35px;
}

.text_info {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: $font_Montserrat;
  font-size: 1.4rem;
  color: $color_secondary;
}

.bank_cards {
  width: 105px;
  height: 40px;
}

.yandex_card {
  width: 50px;
  height: 40px;
}

.mastercard {
  width: 70px;
  height: 40px;
}

.payments {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  gap: 30px;
}

// select Стилизация
.pay_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.select_text {
  font-size: 1.7rem;
  font-weight: 450;
  color: $color_primary;
}

.select {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 700px;
  gap: 10px;
}

.select_address {
  width: 300px;
  height: 45px;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  background: none;
  &:hover {
    background: radial-gradient(
      53.02% 156.82% at 50.03% 49.97%,
      #e86795 0%,
      rgba(245, 185, 215, 0.350984) 74.6%,
      rgba(252, 230, 251, 0) 100%
    );
  }
}

.select_primary {
  background-color: #f9e6f1;
}

.select_secondary {
  background-color: white;
}
