@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.banner_container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 950px;
  align-items: center;
}

.text {
  display: flex;
  text-align: left;
  flex-direction: column;
  z-index: 99;
}

.title {
  color: #e78ead;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  font-weight: 400;
}

.sub_title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.img_banner {
  width: 800px;
  height: 950px;
}
