@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

.container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 370px; */
  background-color: #333333;
}

.footer_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1800px;
  margin-top: 30px;
}

.logo_social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* justify-content: center; */
}

.logo_footer {
  width: 150px;
  height: 110px;
}

.group_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.soc_links {
  height: 50px;
  width: 50px;
  transition: 0.6s;
  &:hover {
    transform: scale(1.5);
  }
}

.nav_payments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 70px;
  text-align: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.link {
  color: #fce6fb;
  text-decoration: none;
  margin: 0 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
  background: none;
  border: none;
  &:hover {
    color: #e86795;
    text-shadow: 1px 1px 6px;
    transition: 0.3s;
    cursor: pointer;
  }
}

.img_payments {
  width: 90px;
  height: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #fce6fb;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
}

.end_logo_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.text_end_footer {
  font-family: "Comfortaa", sans-serif;
  color: #fce6fb;
  font-size: 45px;
  font-weight: 700;
}

.logo_end_footer {
  width: 400px;
  height: 70px;
}

hr {
  width: 1720px;
}

@media (max-width: 1800px) {
  .footer_box {
    width: 1550px;
  }

  .logo_footer {
    width: 100px;
    height: 80px;
  }

  .group_links {
    gap: 10px;
  }

  .soc_links {
    height: 40px;
    width: 40px;
  }

  .nav_menu {
    height: 50px;
  }

  .link {
    font-size: 20px;
  }

  .img_payments {
    width: 80px;
    height: 20px;
  }

  .info {
    font-size: 20px;
  }

  .text_end_footer {
    font-size: 35px;
  }

  .logo_end_footer {
    width: 300px;
    height: 50px;
  }

  hr {
    width: 1400px;
  }
}

@media (max-width: 1600px) {
  .footer_box {
    width: 1350px;
  }

  .logo_footer {
    width: 90px;
    height: 70px;
  }

  .group_links {
    gap: 10px;
  }

  .soc_links {
    height: 37px;
    width: 37px;
  }

  .nav_menu {
    height: 45px;
  }

  .link {
    font-size: 18px;
  }

  .img_payments {
    width: 80px;
    height: 20px;
  }

  .info {
    font-size: 17px;
  }

  .text_end_footer {
    font-size: 30px;
  }

  .logo_end_footer {
    width: 250px;
    height: 45px;
  }

  hr {
    width: 1300px;
  }
}

@media (max-width: 1400px) {
  .footer_box {
    width: 1150px;
  }

  .logo_footer {
    width: 80px;
    height: 60px;
  }

  .group_links {
    gap: 9px;
  }

  .soc_links {
    height: 32px;
    width: 32px;
  }

  .nav_menu {
    height: 30px;
  }

  .link {
    font-size: 14px;
  }

  .img_payments {
    width: 70px;
    height: 18px;
  }

  .info {
    font-size: 14px;
  }

  .text_end_footer {
    font-size: 25px;
  }

  .logo_end_footer {
    width: 230px;
    height: 40px;
  }

  hr {
    width: 1100px;
  }
}
/* 

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

.container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

.footer_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1800px;
  margin-top: 30px;
}

.logo_social {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo_footer {
  width: 200px;
  height: 160px;
}

.group_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.soc_links {
  height: 50px;
  width: 50px;
  transition: 0.6s;
  &:hover {
    transform: scale(1.5);
  }
}

.nav_payments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  text-align: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.link {
  color: #fce6fb;
  text-decoration: none;
  margin: 0 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  background: none;
  border: none;
  &:hover {
    color: #e86795;
    text-shadow: 1px 1px 6px;
    transition: 0.3s;
    cursor: pointer;
  }
}

.img_payments {
  width: 125px;
  height: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 397px;
  color: #fce6fb;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
}

.end_logo_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.text_end_footer {
  font-family: "Comfortaa", sans-serif;
  color: #fce6fb;
  font-size: 55px;
  font-weight: 700;
}

.logo_end_footer {
  width: 460px;
  height: 76px;
}

hr {
  width: 1720px;
}
  */
