.container_footer {
  display: flex;
  flex-direction: column;
  height: 465px;
  background-color: #333333;
}

.title_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo_footer {
  width: 200px;
  height: 160px;
}

.soc_links {
  height: 50px;
  width: 50px;
}
