@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fce6fb;
  bottom: 0;
}

.title_about {
  /* font-family: "Montserrat", sans-serif; */
  text-align: justify;
  color: #333333;
}

.info_about {
  text-align: justify;
  width: 1000px;
  font-family: "Montserrat", sans-serif;
}
.text_about {
  color: #666666;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.text_about_h3 {
  font-family: "Montserrat", sans-serif;
  color: #666666;
}
