@font-face {
  font-family: "Flowers Regular";
  src: url(fonts/flowers.woff);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: rgb(252, 230, 251);
  --font-getFlowers: "Flowers Regular";
  --font-globalFont: "Montserrat";
}

.piska {
  background-color: rgb(252, 230, 251);
}

.app {
  background-color: rgb(251, 165, 247);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f8d2f9; /* цвет фона трека */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #e86b9e 0.5%,
    #fce6fb 52.5%,
    #e86b9e 100%
  );

  /* цвет пальца scrollbar */
}

::-moz-selection {
  background: rgb(255, 172, 244);
}
::-webkit-selection {
  background: rgb(255, 172, 244);
}
::selection {
  background: rgb(255, 172, 244);
}
