@font-face {
  font-family: "Flowers Regular";
  src: url(fonts/flowers.woff);
}

:root {
  --main-bg-color: rgb(252, 230, 251);
  --font-getFlowers: "Flowers Regular";
}

.app {
  background-color: #fceffb;
}
