@import "../../styles/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_Montserrat;
}

.container_auth {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./image/bg_auth.svg ");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  height: 1080px;
}

.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  background: #ffffff66;
  border: 2px solid #ffffff;
  border-radius: 20px;
  gap: 75px;
  .title {
    font-family: $font_Montserrat;
    font-size: 4rem;
    font-weight: 500;
    color: #ffffff;
  }
}

.input_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .input {
    width: 475px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    font-family: $font_Montserrat;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.5rem;
    padding-left: 20px;
    &::placeholder {
      color: #ffffff;
      font-family: $font_Montserrat;
      font-weight: 500;
      font-size: 1.5rem;
    }
    &:focus {
      outline: none;
    }
  }
}

.input_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.submit_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .login {
    color: $color_primary;
    width: 475px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 1.4rem;
    font-family: $font_Montserrat;
    font-weight: 500;
  }
  .subtitle {
    color: #ffffff;
    font-family: $font_Montserrat;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .link_login {
    color: #ffffff;
    text-decoration: none;
    font-family: $font_Montserrat;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.icon {
  width: 30px;
  height: 30px;
}

.input_box .icon {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}
